.lazy-intercom-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 rgba(0, 0, 0, 0.5);
  outline: none;
  border: none;
  z-index: 99;
}

.lazy-intercom-btn:focus {
  outline: none;
}

.lazy-intercom-btn svg {
  height: 50%;
  font: initial;
}
